<h1>Welcome to Odinbook, <%= @user.name %></h1>
<p>
  You have successfully signed up!
</p>
<p>
  To login and start seeing what people are posting,
  just follow this link to login: <%= new_user_session_url %>.
</p>
