<% button_partial ||= nil %>
<div class="user-card">
<%= image_tag user.avatar_url, class: "profile-photo" %>
<p><%= link_to user.name, user_path(user) %> ( <%= user.email %> )</p>
<%= render button_partial, user_id: user.id unless current_user.eql?(user) || button_partial.nil? %>
</div>
