<h1>Edit Your Display Name</h1>
<h2>
<%= turbo_frame_tag "user-header" do %>
  <%= form_with model: @user do |f| %>
    <%= f.text_field :name, size: 15, "max-length": 12, style: "font-size: inherit", value: @user.name %>
    <%= f.submit "Save", class: "button edit-button" %>
  <% end %>
<% end %>
</h2>
