body {
  font-family: sans-serif;
  margin: 0;
}

#main-content {
  padding: 0 1em;
}

.show-hide-button {
  cursor: pointer;
}

.button {
  display: inline-block;
  text-align: center;
  min-width: 6em;
  padding: .1em .5em;
  border-radius: 4% / 20%;
  color: black;
  border: none;
  font: inherit;
  font-weight: bold;
}

.singular-input {
  font-size: inherit;
}

input.button {
  cursor: pointer;
}
.button > a {
  color: inherit;
  text-decoration: inherit;
}

.follow-button {
  background-color: darkseagreen;
}

.accept-button {
  background-color: seagreen;
}

.reject-button {
  background-color: indianred;
}

.post-button {
  background-color: cadetblue;
}

.follow-button.not-following {
  background-color: seagreen;
}

.edit-button {
  background-color: steelblue;
}

.profile-photo {
  height: 2em;
  border-radius: 10%;
}

.user-card {
  display: flex;
  align-items: center;
  gap: 1em;
  padding-left: 1em;
}

.navbar-top {
  position: sticky;
  top: 0px;
  border-bottom: solid lightgrey 2px;
  background-color: white;
}

.menu-vertical {
  padding: .2em 2em;
  display: flex;
  justify-content: space-between;
}

.menu-vertical ul {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 1em;
}

.menu-vertical li {
  display: inline;
}

nav a {
  text-decoration: underline;
  color: black;
}

#user-info {
  padding-left: 2em;
}

#user-info > h1 {
  display: flex;
  align-items: center;
  gap: 0.5em;
}

#bio-text {
  width: 20em;
  min-height: 4em;
  background-color: lightgrey;
  padding: 10px;
}

.post {
  padding-left: 1em;
  border-bottom: lightgrey solid 3px;
}

.like-heart {
  font-size: 1.5em;
}

.like-heart > a {
  text-decoration: none;
}
