.show-hide-button {
  font-weight: bold;
  padding: 0 1em;
}

.button {
  display: inline-block;
  text-align: center;
  min-width: 6em;
  padding: 0 .5em;
  border-radius: 4% / 20%;
  color: black;
  border: none;
  font: inherit;
}

.singular-input {
  font-size: inherit;
}

input.button {
  cursor: pointer;
}
.button > a {
  color: inherit;
  text-decoration: inherit;
}

.follow-button {
  background-color: darkseagreen;
}

.follow-button.not-following {
  background-color: seagreen;
}

.edit-button {
  background-color: steelblue;
}

.profile-photo {
  height: 2em;
  border-radius: 10%;
}
